.container__home {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.home__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: min-content;
}

.content__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content__cards > app-big-card {
  width: calc(50% - 8px);
  margin-bottom: 16px;
}

.home__trending {
  background-color: #FFFFFF;
  max-width: 450px;
  width: 100%;
  height: min-content;
  border-radius: 8px;
}

.trending__title {
  color: #68676C;
  font-weight: bold;
  padding: 16px;
  border-bottom: 1px solid #EFF1F5;
}

.trending__cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
