<div class="container__home">
  <div class="home__content">
    <app-photo-card></app-photo-card>
    <div class="content__cards">
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
      <app-big-card></app-big-card>
    </div>
  </div>
  <div class="home__trending">
    <div class="trending__title">Trending News</div>
    <div class="trending__cards">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
</div>
